<header class="p-6 md:p-16 flex items-center justify-center bg-wave dark:bg-wave-dark bg-center bg-repeat-x">
  <section class="z-10 mr-2 mb-2 lg:mr-4 lg:mb-4 relative w-full max-w-4xl before:absolute before:bg-sedondary before:inset-0 before:translate-x-1 before:translate-y-1 lg:before:translate-x-2 lg:before:translate-y-2 after:absolute after:bg-tertiary after:inset-0 after:translate-x-2 after:translate-y-2 lg:after:translate-x-4 lg:after:translate-y-4 after:-z-10 before:rounded-2xl after:rounded-2xl">
    <section class="md:flex relative bg-primary dark:bg-neutral-900 border-black dark:border-zinc-300 border-4 px-4 py-5 lg:px-9 lg:py-8 md:items-center rounded-xl">
      <picture class="relative block w-full max-h-52 md:max-w-[300px] md:max-h-max overflow-hidden rounded-2xl">
        <source srcSet="/img/profile.avif" type="image/avif" />
        <source srcSet="/img/profile.webp" type="image/webp" />
        <img
          class="object-cover object-[center_20%] w-full max-h-52 md:max-h-max dark:filter dark:contrast-100 dark:brightness-75"
          src="/img/profile.jpg"
          alt="just a pic showing me"
          role="presentation"
          width={300}
          height={453}
        />
      </picture>
      <section class="md:ml-16 mt-5 md:mt-0">
        <h1 class="dark:text-zinc-300 font-francois-one text-5xl lg:text-6xl mb-3 md:mb-4">
          <small class="text-2xl lg:text-3xl block">Hi, I’m</small>
          {{ metadata.firstName }}
        </h1>
        <p class="text-l lg:text-xl max-w-xs mb-6">
          I love to talk about web technologies, learn something new every
          day, and make the world just a little better.
        </p>
        <section class="flex items-center">
          {%- for entry in metadata.socialLinks %}
          <a class="mr-4" href="{{ entry.url | url }}" title="{{ entry.title }}" rel="noopener">
              <i aria-hidden="true">{% include 'icons/' + entry.id + '.njk' %}</i>
              <span class="sr-only">{{ entry.title }}</span>
            </a>
          {%- endfor %}
        </section>
      </section>
    </section>
  </section>
</header>
